name: Frugaloo-Production

# Run the workflow whenever change is pushed into the main branch
on:
  push:
    branches:
      - frontend
  workflow_dispatch:


# There are two jobs in this workflow - build and deploy
jobs:
  # Builds the application for production. 
  # You should configure this environment as close as possible to the production environment, e.g. using Ubuntu for Linux apps, using the same Node version
  build:
    runs-on: ubuntu-latest
    env:
      VITE_BACKEND_URL: "https://frugaloo-backend.azurewebsites.net/"
      VITE_GOOGLE_MAPS_API_KEY: "AIzaSyAhpuXqyBQc_PhU2A9RKb6RAwqK71BhqBE"
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Install dependencies, build, and test
        run: |
          cd frugaloo
          npm install
          npm run build --if-present
          npm run test --if-present
         # Other scripts if configured should be added here, such as linting, formating

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v3
        with:
          name: node-app
          path: frugaloo/dist # This should be your distribution path, not the root path
          if-no-files-found: warn
 
  # Deploy the application to Azure
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: 'https://frugaloo.azurewebsites.net/'

    env:
      VITE_BACKEND_URL: "https://frugaloo-backend.azurewebsites.net/"
      
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: node-app
          path: ./node-app

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: frugaloo
          slot-name: 'Production'
          publish-profile: ${{ secrets.FRONTEND_PRODUCTION_AZUREAPPSERVICE_PUBLISHPROFILE }} # Publish profile should always be stored as secrets in your repository Settings - Secrets and variables - Actions - secrets
          package: ./node-app
